/* =====================================
=view transitions
===================================== */

/* as per https://developer.chrome.com/docs/web-platform/view-transitions/cross-document */

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

@keyframes fadeOut {
  to {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    scale: 0.95;
    opacity: 0;
  }
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  --vtDuration: 0.3s;

  animation-duration: var(--vtDuration);
  animation-fill-mode: both;
}

html[data-page-id="index"]::view-transition-group(.character) {
  animation-delay: 0s;
}

html[data-page-id="index"]::view-transition-new(.character):only-child {
  animation-name: fadeIn;
  animation-delay: 0.15s;
}

html[data-page-id="character"]::view-transition-group(.character) {
  animation-delay: 0.15s;
}

html[data-page-id="character"]::view-transition-old(.character):only-child {
  animation-name: fadeOut;
  animation-delay: 0s;
}
