/* =====================================
=card
===================================== */

.c-charcard {
  display: block;
}

.c-charcard__link {
  display: block;
  overflow: clip;
  border-radius: var(--radius-s);
}

.c-charcard__img {
  transition: transform 0.2s ease-out;

  a:hover & {
    position: relative;
    z-index: 1;
    transform: scale(1.018);
  }
}
