/* =====================================
character detail
===================================== */

.c-chardetail {
  display: block;
}

.c-chardetail__subtitle {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: calc(21 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--color-txt-offset);
}
