/* =====================================
=character
===================================== */

.c-character-card {
  display: block;
}

.c-character-card__link {
  display: block;
  overflow: clip;
  border-radius: var(--radius-s);
}

.c-character-card__img {
  transition: transform 0.2s ease-out;

  a:hover & {
    position: relative;
    z-index: 1;
    transform: scale(1.018);
  }
}
