/* =====================================
=home credits
===================================== */

.c-homecredits {
  color: var(--color-txt-offset);
  font-size: calc(13 / 16 * 1rem);
}

.c-homecredits__author {
  margin-block-end: 0;
}
