/* =====================================
=footer
===================================== */

.c-sitefooter {
  margin-block-start: calc(42 / 16 * 1rem);

  @media (width >= 750px) {
    margin-block-start: calc(48 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    margin-block-start: calc(60 / 16 * 1rem);
  }
}

.c-sitefooter__inner {
  padding-block: calc(18 / 16 * 1rem);
  border-block-start: 1px solid var(--color-border);
}
