/* =====================================
=characters
===================================== */

.c-charslist {
  --characters-list-gap: 18px;
  --characters-list-maxsize: 200px;

  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--characters-list-maxsize)), 1fr)
  );
  gap: var(--characters-list-gap);
}
