/* =====================================
=card
===================================== */

.c-charactercard {
  display: block;
}

.c-charactercard__link {
  display: block;
  overflow: clip;
  border-radius: var(--radius-s);
}

.c-charactercard__img {
  transition: scale 0.2s ease-out;

  a:hover & {
    scale: 1.012;
  }
}
