/* =====================================
=card
===================================== */

.c-charactercard {
  display: block;
}

.c-charactercard__link {
  display: block;
  overflow: clip;
  border-radius: var(--radius-s);
}

.c-charactercard__img {
  transition: transform 0.2s ease-out;

  a:hover &,
  a:focus & {
    transform: scale(1.018);
  }
}
