/* =====================================
=card
===================================== */

.c-charactercard {
  display: block;

  transition: opacity 0.2s ease-out;
}

.c-charactercard__link {
  display: block;
  overflow: clip;
  border-radius: var(--radius-s);
}

.c-characters:hover .c-charactercard:not(:hover) {
  opacity: 0.6;
}
