/* =====================================
character detail
===================================== */

.c-character {
  --character-gap: 18px;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    "a"
    "b";
  gap: var(--character-gap);

  @media (width >= 750px) {
    --character-gap: 36px;

    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas: "b a";
  }
}

.c-character__media {
  grid-area: a;
}

.c-character__content {
  grid-area: b;
}

.c-character__role {
  font-weight: 600;
  font-size: calc(21 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--color-txt-offset);
}
