<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metaTitle }}</title>
  <meta name="view-transition" content="same-origin">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preload" href="/assets/fonts/cormorant-variable.woff2" as="font" type="font/woff2" crossorigin>

</head>
<body>
  {% include "partials/header.njk" %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>