{% extends "layouts/base.njk" %}

{% set metaTitle = name + " - " + site.metaTitle %}

{% block htmlhead %}
  <link rel="expect" href="#detail" blocking="render" />
{% endblock %}

{% block content %}
  <div class="c-section">
    <div class="l-container">

      <div class="c-character" id="detail">
        <div class="c-character__content">
          <h1 class="c-h1  u-mbe-xxs">{{ name }}</h1>
          <p class="c-character__role">{{ role }}</p>
          <div>
            {{ content|safe }}
          </div>
          <p><a class="c-backlink" href="/">All characters</a></p>
        </div>
        <div class="c-character__media">
          <img src="/assets/img/characters/800x800/{{ image }}"
               class="o-fluidimg  u-radius-s"
               style="view-transition-name: {{ page.fileSlug }};"
               width="800"
               height="800"
               decoding="async"
               alt="{{ name }}">
        
        </div>
      </div>



    </div>
  </div>
{% endblock %}