{% extends "layouts/base.njk" %}

{% set metaTitle = name + " - " + site.metaTitle %}

{% block htmlhead %}
  <link rel="expect" href="#detail" blocking="render" />
{% endblock %}

{% block content %}
  <div class="c-section" id="#detail">
    <div class="l-container  l-detail">
      <div class="l-detail__content">

        <div class="c-chardetail">
          <div class="c-chardetail__info">
            <h1 class="c-h1  c-chardetail__title">{{ name }}</h1>
            <p class="c-chardetail__subtitle">{{ role }}</p>
          </div>
            {{ content|safe }}
          <p><a class="c-backlink" href="/">All characters</a></p>
        </div>

      </div>
      <div class="l-detail__media">
        <img src="/assets/img/characters/600x600/{{ image }}"
             srcset="/assets/img/characters/600x600/{{ image }} 600w,
                     /assets/img/characters/800x800/{{ image }} 800w,
                     /assets/img/characters/1024x1024/{{ image }} 1024w"
             sizes="(min-width: 750px) 50vw,
                   100vw"
             class="o-fluidimg  u-radius-s"
             style="view-transition-name: {{ page.fileSlug }};"
             width="1024"
             height="1024"
             decoding="async"
             alt="{{ name }}">
      </div>
    </div>
  </div>
{% endblock %}