---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site.metaTitle %}

{% block htmlhead %}
  <link rel="expect" href="#gallery" blocking="render" />
{% endblock %}

{% block content %}
  <div class="c-section">
      <div class="l-container">

        <div class="c-home">
          <div style="c-home__intro">
          
            <h1 class="u-sronly">Page View Transitions Demo</h1>
            <p>An exploration of progressively enhanced Page Views Transitions using CSS only. This experiment should works in latest Chromium and Safari browsers. Still glitchy online at times, mainly due to image loading I think.</p>
            <div class="c-homecredits">
              <p class="u-mbe-xxs">Demo by Jérôme Coupé.</p>
              <p><a href="{{ site.repository }}">Source code</a> on Github.</p>
            </div>

          </div>
          <div class="c-home__gallery" id="gallery">
            {% for item in collections.characters %}
              {% if loop.first %}<ul class="c-charslist">{% endif %}
                <li>
                  <article class="c-charcard">
                    <a class="c-charcard__link" href="{{ item.url }}">
                      <img src="/assets/img/characters/800x800/{{ item.data.image }}"
                           class="c-charcard__img  o-fluidimg  u-radius-s"
                           width="800"
                           height="800"
                           style="view-transition-name: {{ item.fileSlug }};"
                           alt="{{ item.data.name }}"
                           decoding="async">
                    </a>
                  </article>
                </li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
{% endblock %}