/* =====================================
detail layout
===================================== */

.l-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a" "b";
  gap: calc(30 / 16 * 1rem);

  @media (width >= 750px) {
    grid-template-columns: 5fr 7fr;
    grid-template-areas: "b a";
    gap: calc(30 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    grid-template-columns: 5fr 7fr;
  }

  @media (width >= 1200px) {
    grid-template-columns: 4fr 1fr 7fr;
    grid-template-areas: "b . a";
    column-gap: calc(18 / 16 * 1rem);
  }
}

.l-detail__media {
  grid-area: a;
}

.l-detail__content {
  grid-area: b;
}
