/* =====================================
=container
===================================== */

.l-container {
  --hpadding: calc(18 / 16 * 1rem);

  margin: 0 auto;
  max-width: 1500px;
  padding-inline: var(--hpadding);

  @media (width >= 750px) {
    --hpadding: calc(30 / 16 * 1rem);
  }

  @media (width >= 1024px) {
    --hpadding: calc(48 / 16 * 1rem);
  }
}
