/* =====================================
=container
===================================== */

.l-container {
  --container-inline-padding: 18px;
  --container-max-size: 1500px;

  margin: 0 auto;
  max-width: var(--container-max-size);
  padding-inline: var(--container-inline-padding);

  @media (width >= 750px) {
    --container-inline-padding: 30px;
  }

  @media (width >= 1024px) {
    --container-inline-padding: 48px;
  }
}
