/* =====================================
=container
===================================== */

.l-container {
  --hpadding: calc(18 / 16 * 1rem);

  margin: 0 auto;
  max-width: 1500px;
  padding-inline: var(--hpadding);
}

@media all and (min-width: 750px) {
  .l-container {
    --hpadding: calc(30 / 16 * 1rem);
  }
}

@media all and (min-width: 1024px) {
  .l-container {
    --hpadding: calc(48 / 16 * 1rem);
  }
}
