<header class="c-siteheader">
  <div class="l-container">
    <p class="c-logo">
      <img src="/assets/img/logo.svg"
            width="110"
            height="60"
            alt="Favourite Arcane Characters">
    </p>
  </div>
</header>