<header class="c-siteheader">
  <div class="l-container">
    <p class="c-logo">
      <a href="/">
        <img
          src="/assets/img/logo.svg"
          width="110"
          height="60"
          alt="Favourite Arcane Characters" />
      </a>
    </p>
  </div>
</header>
